/*Se comienza con la normalizacion de estilos */
*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
  }

  :root {
    /*Palette*/
    --primary-solid: #FF3333;
    --primary-900: rgb(255, 51, 51, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primari-300: rgb(255, 51, 51,0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --ligt-font-solid: #ffff;

    /*Typhography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*font-sizes*/
    --font-display:4.6em;
    --font-jumbo:3.8em;
    --font-xlarge:3em;
    --font-large:2.4em;
    --font-medium:1.8em;
    --font-small:1.6;
    --font-xsmall:1.2em;

    /*spacings*/
    --spacing-128: 12.8rem;
    --spacing-68:6.8rem;
    --spacing-36:3.6rem;
    --spacing-28:2.8rem;
    --spacing-24:2.4rem;
    --spacing-20:2rem;
    --spacing-16:1.6rem;
    --spacing-14: 1.4rem; 
    --spacing-8: 0.8rem;
  }

  html {
    font-size: 62.5%; /*fuente predeterminada del html: 10px*/
    font-family: var(--base-font);
    color:var(--dark-solid);
  }

  a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
  }


  li{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
  
  img{
    max-width: 100%;
  }
 
 .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Hader:*/
  header {  
    background-color: var(--dark-bg-solid);
    color: white;
    font-family: var(--alternative-font);
    color:var(--ligt-font-solid);
    padding: var(--spacing-36);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
  
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
  }

  .navbar__logo{
    max-width: 300px;
  }

  .navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
  }

  .navbar__link:hover{
    background-color: var(--primary-900);
  }

  .whith-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
  }

  .whith-submenu:hover .submenu {
    display: block;
  }

  .submenu{
    display: none;
    position: absolute;
    background-color: var(--dark-bg-solid);
    width: 300px;
  }

  .submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: medium;
    transition: background .3s ease-in-out;
  }

  .submenu__link:hover{
    background-color: var(--primary-900);
  }


  /*.nav ul li a {
    padding: 1rem;
    font-weight: 500;
  }
  
  
  /*Banner
  .banner { /*se estiliza contenedor del banner
    grid-area: banner;
    position: relative;
    width: 100%;
  }

  .banner::before{ /*se agrega psudoelemento para que el blur no se aplique al texto sobre la imagen
    content: "";
    position: absolute; top: 0;left: 0;right: 0; bottom: 0;
    background-image: url(file:///C:/Users/bonfa/Desktop/Funko%20Pop/img/funkos-banner.webp);
    filter: blur(3px);
    background-size: cover;
    overflow: hidden;
    background-position: bottom;
  }

  .text{
    position: relative;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 11rem;
    justify-content: center;
  }

  .text h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 0;
  }

  .text p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
  }

  .text .shop {
    background-color: #FFFFFF; /* Fondo blanco del boton
    color: black; /*Texto color negro
    font-family: 'inter'; /*fuente de texto del botón
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem; 
    border: none; /* Sin borde 
    margin: 0;
    border-radius: 5rem; /* Borde redondeado 50px 
    padding: 1rem; /* Espacio interno 
    width: 21.1rem; /*ancho del boton
    margin-top: 2rem; /*margen arriba
    height: 4.7rem; /*altura de botón
    left: 11rem; /*margen izquierdo
  }

  .text .shop:hover { /*pseudoclase para cambiar cursor
    cursor: pointer;
  }

  .star-wars {
    grid-area: star-wars;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .star-wars article {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 4rem;
  }
  .star-wars article h3{
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    margin: 0;
  }
   
  .star-wars article p{
    font-size: 2.4rem;
    line-height: 0.2rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 3px solid #FF3333;
  }
  
  
  .star-wars a{
    background-color:#30343F;
    width: 29.181rem;
    height: 6.5rem;
    color: #FFFFFF;
    border: 1px solid #30343F;
    padding: 1rem;
    border-radius: 5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-top: 4rem;
    }
  
  .pokemon {
    grid-area: secion3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokemon article {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 4rem;
  }
 
  .pokemon article h3{
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    margin: 0;
  }
   
  .pokemon article p{
    font-size: 2.4rem;
    line-height: 0.5rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 3px solid #FF3333;
  }

  .pokemon a{
    background-color:#30343F;
    width: 29.181rem;
    height: 6.5rem;
    color: #FFFFFF;
    border: 1px solid #30343F;
    padding: 1rem;
    border-radius: 5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 4rem;
    }

  .harry-potter {
    grid-area: harry-potter;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .harry-potter article {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 4rem;
  }
  .harry-potter article h3{
    text-transform: uppercase;
    color: #111111;
    font-weight: 500;
    margin: 0;
  }
   
  .harry-potter article p{
    font-size: 2.4rem;
    line-height: 0.5rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
    border-bottom: 3px solid #FF3333;
  }

  .harry-potter a{
    background-color:#30343F;
    width: 29.181rem;
    height: 6.5rem;
    color: #FFFFFF;
    border: 1px solid #30343F;
    padding: 1rem;
    border-radius: 5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-top: 4rem;
    }

    .titulo{
      font-family: 'Raleway';
      text-transform: uppercase;
      font-weight: 700;
      font-size: 4rem;
    }

  .cards{
    grid-area: cards;
    display: flex;
    justify-content: space-around;
    align-items: center; 
  }
  .cards div {
    position: relative;
  }

  .cards div .red-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF3333;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }
  .cards div img{
    width: 35.997rem;
    height: 35.2rem;
  }

  .cards h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 4rem;
    color: #333333;
    margin: 0;
  }
  .cards .p1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 4rem;
    color: #111111;
    margin: 0;
  }
  .cards .p2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #333333;
  margin: 0;
  }
  .cards .p3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 4rem;
    color: #1D84B5;
    margin: 0;
    padding-bottom: 10rem;
  }

  .footer{ 
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #30343F;
    height: 35rem;
    width: 100%;
    box-sizing: border-box; 
  }

  .footer div ul{
    font-weight: 500;
    font-size: 2rem;
    line-height: 4rem;
    list-style: none;
    margin-left: 10rem;
  }

  .footer .p{
    display: flex;
    align-self: flex-end;
    margin-bottom: 1rem;
  }

  .footer figure img{
    margin-right: 10rem;
    height: 15rem;
  }*/